.body {
     background:rgb(48, 50, 51);
}




/* page categorie */
   #recherche{
        background:white;
        border-radius: 30px;
        
    }
    #recherche input[type="search"]:focus, #recherche input[type="search"]:active{
    outline: none !important;
    box-shadow: none !important;
    
}
nav .meteo{
        display: none;
    }  



